body{
    box-sizing: border-box;
    background-color:bisque;
    align-items: center;
    background-image: url(./assets/react.svg);
    background-size: 99%;
}
.btn{
    color: blue;  
    border-radius: 20%;
    border-color: black;
    height: 30px;
    width: 100px;
    margin : 10px;
    display: inline;
    text-align: center;
    justify-content: center;

}
h1{
    text-decoration: underline;
    color: blue;
    text-align: center;
    font-size: 24px;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
img{
    align-items: center;
}
.adjust{
    background-color:rgb(90, 183, 109);
    display:inline-block;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    height: 50vh;
    width: 50%;

}

input{
    color: blue;
    font-style: italic;
}