.btn{
    color: blue;
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
}
.adjust{
    background-color:burlywood;
    display:inline-block;
    flex-direction: row;
    justify-content: center;
    align-items:center ;
    padding: 10px;
}